<section class="section-advertisement ">
    <div class="container container-advertisement">
        <h2 class="visually-hidden">advertisement</h2>
        <div class="container-taitel-advertisemetn">
        <p class="title-advertisement">Choose <span class="span-advertisement">your story</span>, making every moment unique. Time is your style, and we reveal it.</p>
        </div>
        <div class="container-btn-advertisemetn">
        <a class="btn-advertisement" href="#contactus">Contact Us</a>
        </div>
    </div>
</section>