    <!-------------! Footer -------------->
    <footer>
        <div>
          <div>
            <a class="logo">watch <span>charm</span></a>
            <h1></h1>
          </div>
          <div class="social-container">
            <p class="text">Social media</p>
            <ul class="icon-list">
              <li class="icon-item">
                <a class="link" href="">
                  <svg class="icon-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram-2"></use>
                  </svg>
                </a>
              </li>
              <li class="icon-item">
                <a class="link" href="">
                  <svg class="icon-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-twitter-1"></use>
                  </svg>
                </a>
              </li>
              <li class="icon-item">
                <a class="link" href="">
                  <svg class="icon-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="text">
            <h1>Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</h1>
          </div>
          <address class="contacts">
            <ul class="telephone">
              <li>
                <a class="contacts-item" href="tel:+380(68)443-94-26">+380(68)443-94-26</a>
              </li>
            </ul>
          </address> 
          <div class="menu">
            <ul class="navigation">
              <li>
                <a class="navigation-menu" href="./index.html" target="_blank">Home</a>
              </li>
              <li>
                <a class="navigation-menu" href="" target="_blank">About</a>
              </li>
              <li>
                <a class="navigation-menu" href="" target="_blank">Catalog</a>
              </li>
              <li>
                <a class="navigation-menu" href="" target="_blank">Sale</a>
              </li>
              <li>
                <a class="navigation-menu" href="" target="_blank">Reviews</a>
              </li>
              <li>
                <a class="navigation-menu" href="" target="_blank">Contacs Us</a>
              </li>
            </ul>
            <address class="contacts">
              <ul class="contacts-address">
                <li>
                  <a class="contacts-" href="1678 S. Pioneer Road Salt Lake City UT 84104">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                </li>
      
            </address>
          </div>
          <div>
            <p>©2023 The Watch Spot. All rights reserved.</p>
          </div>
          <div>
            <ul>
              <li>Terms of Service</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
        </div>
      
      </footer>