<header class="header" id="header">
  <div class="container header-container">
    <a class="header-title" href="https://sundnepr.github.io/UDG-Watch-Charm/">watchcharm</a>
    <button class="header-mob-btn" type="button">
      <svg width="34" height="34">
        <use href="./img/header-img/icons-header.svg#icon-menu-05"></use>
      </svg>
    </button>
    <nav class="head-nav">
      <ul class="head-list">
        <li class="under head-item">
          <a href="" class="head-link dot">Home</a>
          <!-- <svg class="elips-mob" width="8" height="8">
            <use href="./img/header-img/icons-header.svg#icon-Ellipse"></use>
          </svg> -->
        </li>
        <li class="head-item">
          <a href="#about-us" class="head-link dot">About Us</a>
        </li>
        <li class="head-item">
          <a href="#catalog" class="head-link dot">Catalog</a>
        </li>
        <li class="head-item"><a href="#sale" class="head-link dot">Sale</a></li>
        <li class="head-item">
          <a href="#reviews" class="head-link dot">Reviews</a>
        </li>
        <li class="head-item">
          <a href="#contactus" class="head-link dot">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="soc-icon-container-head">
      <ul class="soc-list-head">
        <li class="soc-item-head">
          <a
            class="soc-icon-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="soc-icon-head" width="18" height="18">
              <use href="./img/header-img/icons-header.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item-head">
          <a
            class="soc-icon-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="soc-icon-head" width="18" height="18">
              <use
                href="./img/header-img/icons-header.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="soc-item-head">
          <a
            class="soc-icon-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="soc-icon-head" width="18" height="18">
              <use href="./img/header-img/icons-header.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mob-menu">
    <button class="mob-menu-btn" type="button">
      <svg width="34" height="34">
        <use href="./img/header-img/icons-header.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mob-nav">
      <ul class="mob-list">
        <li class="under mob-item">
          <a href="" class="mob-link">Home</a>
          <svg class="elips-mob" width="8" height="8">
            <use href="./img/header-img/icons-header.svg#icon-Ellipse"></use>
          </svg>
        </li>
        <li class="mob-item">
          <a href="#about-us" class="mob-link">About Us</a>
        </li>
        <li class="mob-item">
          <a href="#catalog" class="mob-link">Catalog</a>
        </li>
        <li class="mob-item"><a href="#sale" class="mob-link">Sale</a></li>
        <li class="mob-item">
          <a href="#reviews" class="mob-link">Reviews</a>
        </li>
        <li class="mob-item">
          <a href="#contactus" class="mob-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="soc-icon-container-mob">
      <ul class="soc-list-mob">
        <li class="soc-item-mob">
          <a>
            <svg class="soc-icon-mob" width="20" height="20">
              <use href="./img/header-img/icons-header.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item-mob">
          <a>
            <svg class="soc-icon-mob" width="20" height="20">
              <use
                href="./img/header-img/icons-header.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="soc-item-mob">
          <a>
            <svg class="soc-icon-mob" width="20" height="20">
              <use href="./img/header-img/icons-header.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
