<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-con-tab">
        <div class="title-hero-container">
            <h1 class="title-hero">Welcome to our <span class="span-hero">collection</span> of premium watches</h1>
            <p class="paragraf-hero">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-avatr-btn">
            <picture class="img-hero-avatar">
                <source srcset="./img/hero-img/smal-avatar-hero-min.jpg 1x, ./img/hero-img/hero2x/smal-avatar-hero2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./img/hero-img/smal-avatar-hero-table-min.jpg 1x, ./img/hero-img/hero2x/smal-avatar-hero-table2x-min.jpg 2x" media="(min-width: 768px)">
                <source srcset="./img/hero-img/smal-avatar-hero-tel-min.jpg 1x, ./img/hero-img/hero2x/smal-avatar-hero-tel2x-min.jpg 2x" media="(max-width: 767px)">
                <img src="./img/hero-img/smal-avatar-hero-tel-min.jpg" alt="avatar-hero" width="" height="">
            </picture>
            <a href="#scrolldown" class="btn-hero">Scroll down</a>
        </div>
        </div>
        <picture class="img-hero">
            <source srcset="./img/hero-img/watches-hero.jpg 1x, ./img/hero-img/hero2x/watches-hero2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./img/hero-img/watches-hero-table-min.jpg 1X, ./img/hero-img/hero2x/watches-hero-table2x-min.jpg 2x" media="(min-width: 768px)">
            <source srcset="./img/hero-img/watches-hero-tel-min.jpg 1x, ./img/hero-img/hero2x/watches-hero-tel2x-min.jpg 2x" media="(max-width: 767px)">
            <img src="./img/hero-img/watches-hero-tel-min.jpg" alt="watches-hero">
        </picture>
    </div>
</section>