<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="img-container">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/john-wax1x.jpg 1x,
              ./img/reviews/john-wax2x.jpg 2x
            "
            src="./img/reviews/john-wax1x.jpg"
            alt="John Wax"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-list-item">
        <div class="img-container">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/victoria-tomashenko1x.jpg 1x,
              ./img/reviews/victoria-tomashenko2x.jpg 2x
            "
            src="./img/reviews/victoria-tomashenko1x.jpg"
            alt="Victoria Tomashenko"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-list-item">
        <div class="img-container">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/anastasia-trachuk1x.jpg 1x,
              ./img/reviews/anastasia-trachuk2x.jpg 2x
            "
            src="./img/reviews/anastasia-trachuk1x.jpg"
            alt="Anastasia Trachuk"
            width="56"
            height="56"
          />
        </div>
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
