<section class="sale-section" >

 <div class="container-sale"> 
   <h2 class="sale-title-section">Sale</h2>
         <div class="sale-section-img">
<ul class="sale-section-list">
<li class="sale-section-link">
    
    <img class="clock-img"
    srcset="./img/sale-img/clock-des-tab9.png 1x,
    ./img/sale-img/clock-des-tab10@2x.png 2x "
    
    src="./img/sale-img/clock-tel9.png" alt="clock"
    width="52"
    height="54">
</li>

<li class="sale-section-link">
     <img class="clock-img"
     srcset="./img/sale-img/clock-des-tab5.png 1x,
     ./img/sale-img/clock-des-tab6@2x.png 2x"
      src="./img/sale-img/clock-tel7.png" alt="clock"
    width="52"
    height="54">
</li>

<li class="sale-section-link">
    
    <img class="clock-img"
    srcset="./img/sale-img/clock-des-tab3.png 1x,
    ./img/sale-img/clock-des-tab4@2x.png 2x,"
    src="./img/sale-img/clock-tel3.png" alt="clock"
    width="52"
    height="54">
  
</li>
<li class="sale-section-link">
    
    <img  class="clock-img"
    srcset="./img/sale-img/clock-des-tab7.png 1x,
    ./img/sale-img/clock-des-tab8@2x.png 2x,"
    src="./img/sale-img/clock-tel5.png" alt="clock"
    width="52"
    height="54">
   </li>
</ul>
       
 <!-- <div class="sale-section-picture-img">          -->
<picture>
   <source media="(min-width: 1280px)"
srcset="./img/sale-img/clock-des-tab1x.png 1x,
./img/sale-img/clock-des-tab2x@2x.png 2x">

<source media="(min-width: 768px)" srcset="./img/sale-img/clock-des-tab1x.png 1x,
./img/sale-img/clock-des-tab2x@2x.png 2x" >

<source media="(min-width: 375px)" srcset="./img/sale-img/clock-tel1.png 1x,
./img/sale-img/clock-tel2@2x.png 2x" >
<img class="sale-section-img-clock" src="./img/sale-img/clock-tel1.png" alt="clock"
 >
          </picture>
         </div> 
          <!-- </div>   -->


<!-- ==========================================price==================================== -->
          <div class="sale-section-info">
            <h3 class="sale-section-title-two">MARQ® Commander (Gen 2) - Carbon Edition</h3>
            <p class="sale-section-text-prouct">Product tag: 706587</p>
            <div class="sale-section-price">
               <button class="sale-section-button" type="button">€1500</button>
            <p class="sale-section-text-price">€3000</p>
            </div>
            <p class="sale-section-text-two">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
            
            <ul class="sale-section-list-two">
              <li class="sale-section-link-two">
                <p class="sale-section-text-three">Fused carbon fiber </p>
              </li>
              <li class="sale-section-link-two">
                <p class="sale-section-text-three">Grade-5 Titanuim</p>
                  
                </li>
              <li class="sale-section-link-two">
                 <p class="sale-section-text-three">Athlete</p>
              </li>
              <li class="sale-section-link-two">
                 <p class="sale-section-text-three">Golfer</p>
              </li>
              <li class="sale-section-link-two">
                 <p class="sale-section-text-three">Commander</p>
              </li>
              <li class="sale-section-link-two">
                 <p class="sale-section-text-three">Adventurer</p>
              </li>
            </ul>
            
          </div>  
</div>
    
</section>