@media screen and (max-width: 375px) {
  .container {
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 366px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 60px;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
    url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
