.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-us-f {
  display: flex;
  flex-direction: column;
}

.text-contact-us{
  font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);

margin-bottom: 28px;

}
.titul-contact-us {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;

}
.box-window {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 30px;
  padding: 48px 28px;
  width: 100%;
  background: #f3f3f3;

  margin-bottom: 20px;
}

.box-form-cont{
  margin-bottom: 18px;
}

.contact-us {
  margin-bottom: 24px;
}

.contactus-input {
  width: 279px;
}

.div-input {
  margin-right: 28px;
}
.input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 12px 12px 14px;
  width: 100%;
  /* height: 42px; */
  outline: transparent;

  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}

.input:focus{
  border-color: #3350e9;
}

.input-text {
  outline: transparent;
  margin-right: 28px;
}

.comment-text {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 12px 18px 18px;
  width: 100%;
  height: 84px;

  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
  resize: none;
  outline: transparent;

  margin-bottom: 28px;

}
.comment-text:focus{
  border-color: #3350e9;
}

.contact-us-button-send {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  border: none;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
}

.div-input::placeholder {
  border-color: #3350e9;
}

@media screen and (min-width: 375px) {
  .contactus-input {
    max-width: 279px;
  }
}
@media screen and (min-width: 768px) {

  .box-window {
    max-width: 704px;
    display: flex;
    align-items: center;

padding: 0;

  }
  .text-contact-us{
    margin-top: 50px;
  }

.namebox{
  width: 460px;

}

.comment-text{
  margin-bottom: 32px;
}



  .contactus-input {
    width: 100%;
    max-width: none;

  }

  .titul-contact-us {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  
  }

  .text-contact-us {
    display: flex;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);

    margin-bottom: 32px;
  }

  .contact-us-button-send {
    padding: 17px 63px;
    width: 160px;
    height: 52px;
    margin-bottom: 50px;

  }
}

@media screen and (min-width: 1280px) {
  .contact-us {
    width: 1159px;
  }
  .contactus-input {
    width: 540px;
    max-width: none;
  }
  .box-window {
    max-width: 540px;
  }

  .photo{
    width: 530px;
    height: 556px;
    margin-top: 67px;
  }

  .namebox{
    width: 460px;
  
  }

  .contact-us-f {
    flex-direction: row;
    gap: 40px;
  }
}
