button {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 27.5px 20px;
  text-align: center;
  margin: 0 auto;
}

.header-title {
  color: #0c0c0c;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}

.header-mob-btn {
  stroke: #0c0c0c;
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: flex;
}

.head-nav {
  display: none;
}

.soc-icon-container-head {
  display: none;
}

.soc-icon-head:hover,
.soc-icon-head:focus {
  fill: #3350e9;
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 20px;
  }
}

/* =======mob menu===== */
.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 240px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(#0c0c0ceb, #0c0c0ceb),
    url(../img/header-img/mobile-watch1x.jpg);
}

.mob-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  stroke: #fbfbfb;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.mob-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  /* width: 73px; */
}

.under {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.elips-mob {
  fill: #3350e9;
}

.mob-link {
  color: #fbfbfb;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
}

.soc-list-mob {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.soc-icon-mob {
  fill: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

@media screen and (min-width: 375px) {
  .header-container {
    /* width: 375px; */
  }
}

/* ======dekstop===== */
@media screen and (min-width: 1280px) {
  .header-container {
    width: 1280px;
    justify-content: space-between;
  }

  .dot {
    position: relative;
    color: #3350e9;
  }
  .dot:hover::after,
  .dot:focus::after {
    content: '';
    border-radius: 100px;
    width: 8px;
    height: 8px;
    background-color: #3350e9;
    position: absolute;
    left: 15px;
    bottom: -10px;
  }

  .header-title {
    margin-right: 80px;
  }

  .header-mob-btn {
    display: none;
  }

  .head-nav {
    display: flex;
  }

  .soc-icon-container-head {
    display: flex;
  }

  .head-list {
    display: flex;
    gap: 40px;
  }

  .head-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #0c0c0c;
  }

  .soc-list-head {
    display: flex;
    gap: 10px;
  }

  .soc-icon-link {
    display: flex;
    padding: 8px;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(12, 12, 12, 0.1);
  }
}
