.title-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.span-hero {
    color: #3350e9;
}

.paragraf-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}


.btn-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    border: none;
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    .hero-section {
        margin-bottom: 60px;
    }

    .title-hero {
        font-size: 40px;
        line-height: 0.95;
    }

    .paragraf-hero {
        font-size: 14px;
        line-height: 1.29;
    }

    .btn-hero {
        font-size: 14px;
        line-height: 1.29;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin: 0 auto;
        width: 335px;
        padding: 0;
    }

    .title-hero-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 335px;
        margin-top: 60px;
        margin-bottom: 28px;
    }

    .hero-avatr-btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero-con-tab {
        margin: 0  auto;
    }

    .img-hero {
        margin: 0  auto;
    }
}

@media only screen and (min-width: 768px) {
    .title-hero {
        font-size: 70px;
        line-height: 0.85;
    }

    .paragraf-hero {
        font-size: 16px;
        line-height: 1.25;
    }

    .btn-hero {
        font-size: 20px;
        line-height: 1;
    }

    .hero-section {
        margin-bottom: 80px;
        margin-top: 80px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;  
    }

    .hero-con-tab {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 11px;
        margin: 0 auto;
    }

    .title-hero-container {
        width: 557px;
        height: 260px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero-avatr-btn {
        width: 136px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .img-hero {
        margin: 0  auto;
    }
}
    

@media only screen and (min-width: 1280px) {
    .title-hero {
        font-size: 72px;
        line-height: 0.87;
    }

    .hero-section {
        margin-bottom: 100px;
        margin-top: 80px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;  
    }

    .hero-con-tab {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 407px;
        margin: 0 auto;
    }

    .title-hero-container {
        width: 597px;
        height: 269px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero-avatr-btn {
        width: 146px;
        height: 269px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img-hero {
        margin: 0  auto;
    }

}