.reviews {
  padding-bottom: 30px;
  padding-top: 30px;
}

.reviews-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.reviews-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.reviews-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 335px;
}

.img-container {
  margin-bottom: 24px;
}

.reviews-img {
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
}

.reviews-name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviews-text {
  font-family: 'Gilroy-black', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .reviews-list-item:not(:nth-child(1)) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .reviews-title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .reviews-list {
    flex-direction: row;
    gap: 16px;
    max-width: 704px;
  }
  .reviews-list-item {

    max-width: 370px;
  }

  .reviews-name {
    font-size: 18px;
    line-height: 1.1;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 1279px) {
  .reviews-list-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .reviews-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    max-width: 1150px;
  }

  .reviews-list-item {
    width: calc((100% - 40px) / 3);
  }
}
