.sale-section {
    padding: 0 20px;

}

.sale-title-section {
    font-family: "Gilroy", sans-serif;
font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
}
.sale-section-list {
    display: flex;
  justify-content: center;
}
